$report-background: #eee;
$report-color: #000;

.report-content {
  position: relative;

  padding: 20px;

  color: $report-color;
  background-color: $report-background;

  border-radius: 5px;

  img {
    display: block;

    width: 100%;
    max-width: 400px;

    margin: 10px auto;

    cursor: pointer;
  }

  table {
    margin: 10px auto;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;

    color: $report-color;

    table-layout: fixed;

    td {
      width: 2%;
      padding: 10px;
    }

    tr.img-caption {
      font-size: 12px;
      font-style: italic;

      color: lighten($report-color, 10);

      text-align: center;

      td {
        padding-top: 0;
      }
    }
  }
}
