<h3>{{owner}}</h3>

<p>
  Device ID: {{id}}
</p>

<div class="row">
  <div class="col-md-4">
    <h4>ECG Trace</h4>

    <canvas class="ecg-live" height="100"></canvas>
  </div>

  <div class="col-md-2">
    <h4>Heart Rate</h4>

    <p>
      <span data-heart-rate-live-text class="live-text">
        0
      </span>

      <span class="unit">
        Beats Per Minute
      </span>
    </p>
  </div>

  <div class="col-md-4">
    <h4>Respiratory Trace</h4>

    <canvas class="respiratory-live" height="100"></canvas>
  </div>

  <div class="col-md-2">
    <h4>Respiratory Rate</h4>

    <p>
      <span data-respiratory-rate-live-text class="live-text">
        0
      </span>

      <span class="unit">
        Breaths Per Minute
      </span>
    </p>
  </div>
</div>
