<h3>{{owner}}</h3>

<p>
  Device ID: {{id}}
</p>

<div class="row">
  <div class="col-md-4">
    <h4>ECG Trace</h4>

    <canvas class="ecg-live" height="100"></canvas>
  </div>

  <div class="col-md-2">
    <h4>Heart Rate</h4>

    <p>
      <span data-heart-rate-live-text class="live-text">
      </span>

      <span class="unit">
        Beats Per Minute
      </span>
    </p>
  </div>

  <div class="col-md-4">
    <h4>Historic</h4>

    <div class="bpm-historic">
    </div>
  </div>

  <div class="col-md-2">
    <h4>Temperature</h4>

    <p>
      <span data-temp-live-text class="live-text">
      </span>

      <span class="unit">
        &deg;C
      </span>
    </p>
  </div>
</div>
