<div class="container">
  <h1>About</h1>

  <p>
    Team Members:
  </p>

  <ul>
    <li>Hayden Ball</li>
    <li>Filip Frahm</li>
    <li>Roy Hotrabhavnon</li>
    <li>Milan Pavlik</li>
    <li>Jonathan Redmond</li>
  </ul>
</div>
