<div class="jumbotron">
  <div class="background">
    <h2>ECG</h2>

    <canvas class="ecg-live" height="100"></canvas>

    <h2>Heart Rate</h2>

    <canvas class="heart-rate-live" height="100"></canvas>

    <h2>Respiratory Data</h2>

    <canvas class="respiratory-live" height="100"></canvas>
  </div>

  <div class="overlay">
    <h1>HealthVest</h1>

    <p>
      View Vital Signs.
    </p>

    <p>
      Live.
    </p>

    <p>
      Anywhere.
    </p>
  </div>
</div>
